
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik:wght@400;500;700&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .bg{
        background:  linear-gradient(0deg,rgba(0, 0, 0, 0.56),rgba(7, 1, 1, 0.7)), 
        url('/images/img2.jpg')
        ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

      
    }
   .h1{
    padding-top:5rem;
    
   }
   .just{
    display: none;
}
   .card:hover{
    background: linear-gradient(0deg,rgba(5, 186, 102, 0.56),rgba(11, 135, 9, 0.7));
    opacity:0.2;
    ;
    
    
   }
   
}